[package]
name = "xcsoar-tasks"
version = "0.0.0"
edition = "2024"

[dependencies]
quick-xml = { version = "0.38.4", features = ["serialize"] }
serde = { version = "1.0.228", features = ["derive"] }
thiserror = "2.0.17"

[dev-dependencies]
insta = "=1.44.3"
clap = { version = "=4.5.53", features = ["derive"] }
